/* DEBUG:  */

/* [class*='col-']{
  border: 2px solid green;
} */

/* DEBUG:  */

img{
  max-width: 100%;
}

h2{
  font-weight: bold;
  color: darkblue;
}

h3{
  font-weight: bold;
  color: darkblue;
}

p{
  opacity: 0.7;
}

/* font per i link */

.linkto{
  font-weight: bold;
  color: blue;
}

.centratura{
  text-align: center;
}

.bgcolorgrey{
  background-color: #f3f5f9;
}

.bgcolorblue{
  background-color: #1802db;
}

.bgcolordarkblue{
  background-color: #010e28;
}

.bgcolorwhite{
  background-color: white;
}

/* FONTS */

.greyfont > *{
  opacity: 0.7;
}

.boldfont > *{
  font-weight: bold;
}

.whitefont > *{
  color: white;
}

.bluefont > *{
  color: blue;
}

.darkbluefont > *{
  color: darkblue;
}

/* NAVIGATORE **********************/

#logodigital{
  line-height: 39px;
}

#navmenusx > *, #navmenudx > *{
  display: inline-block;
  margin-left: 15px;
}

/* JUMBOTRON **********************/

/* SCRITTA SINISTRA */
#jumbotext p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
  opacity: 0.7;
}

#jumbotext h1{
  font-size: -webkit-xxx-large;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
  color: white;
}

/* FORM DI DESTRA */
#jumboform{
  margin: 50px 0 50px 0;
  padding: 25px 15px 25px 15px;
  background-color: white;
}

/* 1sezione INNOVATIVE BUSINESSES TRUST DIGITALOCEAN *****************/


#innovative1 h5{
  font-weight: bold;
  margin: 50px 0 50px 0;
}

#loghi{
  margin-bottom: 25px;
}

#loghi ul li{
  display: inline-block;
  width: 150px;
}

#loghi ul li img{
  max-width: 100%
}

/* 2sezione Deploy and scale seamlessly ****************************/

#deploytitle{
  margin-bottom: 50px;
  margin-top: 50px;
}

#deploymenusx{
  border-left: 2px solid lightgrey;
  opacity: 0.7;
  padding-left: 10px;
}

#deploymenudx{
  margin-bottom: 50px;
}

#deploymenudx h3{
  font-weight: bold;
}

#deploymenudx p{
  opacity: 0.7;
}

/* 3sezione Designed for developers ********************/

#designedtitle{
  margin-bottom: 50px;
  margin-top: 50px;
}


#designedtitle{

}





/* 5sezione Service your customers **********************/

tr{
  border-bottom: 1px solid;
}

/* PARTE INFERIORE ********************/

footer p{
  opacity: 0.7;
}
