/* DEBUG:  */

/* [class*='col-']{
  border: 2px solid green;
} */

img{
  height: 50px;
}

/* DEBUG:  */

.centratura{
  text-align: center;
}

.bgcolorgrey{
  background-color: #f3f5f9;
}

.bgcolorblue{
  background-color: #1802db;
}

.bgcolordarkblue{
  background-color: #010e28;
}

/* NAVIGATORE **********************/

#logodigital{
  line-height: 39px;
}

#navmenusx > *, #navmenudx > *{
  display: inline-block;
  margin-left: 15px;
}

/* JUMBOTRON **********************/

/* SCRITTA SINISTRA */
#jumbotext p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
  opacity: 0.7;
}

#jumbotext h1{
  font-size: -webkit-xxx-large;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
  color: white;
}

/* FORM DI DESTRA */
#jumboform{
  margin: 50px 0 50px 0;
  padding: 25px 15px 25px 15px;
  background-color: white;
}
